*{
    /* border: 1px solid pink */
}
.center {
    text-align: center;
}
.answer{
    height: 300px;
    padding-top: 100px;
}
.button{
    height: 50px;
    width: 150px;
    border-radius: 10px;;
    border: none;
    background-color: red;
    color: white;
    box-shadow: 0 9px #999;
    font-size: 24px;
    cursor: pointer;
}

.button:hover{
    background-color: maroon;
}

.button:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background-color: maroon;
}

.button:focus {outline:0;}

.answers{
    font-size: 40px;
    font-weight: 700;
}