*{
    /* border: 1px dotted red; */
}
.container{
    margin-top:50px;
    position: relative;
}
.center {
    text-align: center;
}
.fa-chevron-circle-right{
    font-size: 20px;
}
.fa-chevron-circle-left{
    font-size: 20px;
}
.input{
    height: 100px;
}
.history{
    display:inline-block;
    width: 100%;
    vertical-align: top;
    margin: auto;
    position: relative;  
}
.sidebar{
    display:inline-block;
    background-color:#F0F3F4 ;
    border: 1px solid #D7DBDD;
    border-radius: 3px;
    width: 250px;
    vertical-align: top;
    margin: auto;
    position: absolute; 
    z-index: 1;
    box-shadow: 2px 2px #999;
    padding: 5px;
    height: 100vh;
}
.clear{
    position: absolute;
    top:0;
    right:0;
    transition: 0.5s;
    border: none!important;
    background-color: transparent!important;

}
.clear span{
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.clear span:after{
    content: 'clear';
    position: absolute;
    opacity: 0;
    top:0;
    right: 0;
    transition: 0.5s;
}
.clear:hover span{
    padding-right:-25px;
}
.clear:hover span:after{
    opacity:1;
    right:20px;
    color: grey;
    font-size: 12px;
}
.clear:active span:active{
    color: black;
    transform: translateY(1px);
}

.addTo{
    position: absolute;
    top:0;
    right:0;
    margin:0;
    padding:0;
    transition: 0.5s;
    border: none!important;
    background-color: none!important;
}
.addTo span{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
}
.addTo span:after{
    content: 'Select';
    position: absolute;
    opacity: 0;
    top:0;
    right: 0;
    transition: 0.5s;
}
.addTo:hover span{
    padding-right:-25px;
}
.addTo:hover span:after{
    opacity:1;
    right:18px;
    color: grey;
    font-size: 12px;
}
.addTo:active span:active{
    color: black;
    transform: translateY(1px);
}

.addToo{
    position: absolute;
    top:0;
    right:0;
    margin:0;
    padding:0;
    transition: 0.5s;
    border: none!important;
    background-color: none!important;
}
.addToo span{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
}
.addToo span:after{
    content: 'Select';
    position: absolute;
    opacity: 0;
    top:0;
    right: 0;
    transition: 0.5s;
}
.addToo:hover span{
    padding-right:-25px;
}
.addToo:hover span:after{
    opacity:1;
    right:15px;
    color: grey;
    font-size: 12px;
}
.addToo:active span:active{
    color: black;
    transform: translateY(1px);
}


.remove{
    position: absolute;
    top:0;
    right:0;
    margin:0;
    padding:0;
    transition: 0.5s;
    border: none!important;
    background-color: none!important;
}
.remove span{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
}
.remove span:after{
    content: 'remove';
    position: absolute;
    opacity: 0;
    top:0;
    right: 0;
    transition: 0.5s;
}
.remove:hover span{
    padding-right:-25px;
}
.remove:hover span:after{
    opacity:1;
    right:15px;
    color: grey;
    font-size: 12px;
}
.remove:active span:active{
    color: black;
    transform: translateY(1px);
}

.central{
    display: inline-block;
    vertical-align: top;
    width: 55%;
  
}
.form{
    text-align: center;
    display: inline-block;
    width:100%;
    vertical-align: top;
    margin: auto;
}
.button{
    height: 30px;
    width: 100px;
    border-radius: 10px;;
    border: none;
    background-color: red;
    color: white;
    box-shadow: 0 5px #999;
    /* font-size: 24px; */
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.button:hover{
    background-color: maroon;
}

.button:active{
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    background-color: maroon;
}

button:focus {outline:0;}

.fa-plus{
    color: black;
}
.fa-plus:active{
    color: gray;
    transform: translateY(1px);
}
.fa-plus:hover{
    color: gray;
}
.fa-times{
    font-size: 10px;
    margin: 2px;
}
.choices{
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 10px;
    padding: 3px;
}
.required{
    color: red;
    font-size: 14px;
}
.img{
    display: inline-block;
    width:25%;
    vertical-align: top;
}
.answer{
    width: 100%;
    margin: 10px auto;
    position: relative;
    border: 1px solid black;
    border-radius:8px;
    box-shadow: 1px 1px #999;
    padding: 8px;

}
.imgage{
    max-width: 100%;
    max-height: 100%;
}
.detail{
    display: inline-block;
    margin: 5px 10px;
    vertical-align: top;
    width: 65%;
}

h5{
    margin-bottom: 0;
}
.review{
    margin: 5px;
    font-size: 13px;

}
.prices{
    font-size: 12px;
    margin: 0;

}

.fa-plus-circle{
 position: absolute;
 right:0;
 top:0;   
 font-size: 18px;
}
.fa-plus-circle:active{
    transform: translateY(1px);
}
.fa-plus-circles{
    position: absolute;
    right:0;
    top:-1;   
    font-size: 12px;
}
.fa-plus-circles:active{
    transform: translateY(1px);
}

.address{
    margin: 0;
    line-height: 1;
    font-size: 14px;
}
.cat{
    font-size: 10px;
    margin: 0;
}
.each{
    border-bottom: 1px solid silver;
    position: relative
}
.eachName{
    margin: 5px 0;
}
.titleHistory{
    margin: 0 0 10px 0;
    border-bottom: 1px solid silver;
}
.map{
    width: 100%;
    height: 200px;
    padding:5px;
    margin: auto;
   
}
agm-map{
    width: 100%;
    height: 200px;
}

.selectedChoices{

    height: 30px;
   
    border-radius: 10px;;
    border: none;
    background-color: blue;
    color: white;
    box-shadow: 0 5px #999;

    cursor: pointer;
    display: block;
    margin: 100px auto;
}
.selectedChoices:active{
    box-shadow: 0 2px #666;
    transform: translateY(2px);
    background-color: navy;
}


.buttonnn{
    height: 50px;
    width: 150px;
    margin: 40px auto;
    border-radius: 10px;;
    border: none;
    background-color: red;
    color: white;
    box-shadow: 0 9px #999;
    font-size: 24px;
    cursor: pointer;
    display: block;
}


.buttonnn:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    background-color: maroon;
}
.spaces{
    height: 330px;
   
}

.toggle{
    font-size: 20px;
    margin-left: 10px;
}