<div class="container">
    <div class="left">
      <div class="input">
        <span *ngFor="let i of choices" class="choices">{{i}}<i (click)="clearOneChoice(i)" class="fas fa-times"></i></span>
      </div>
      <div class="answer">
        <p *ngIf="rare" >{{rare}}</p>
        <p *ngIf="answer" >{{answer}}</p>
      </div>
    </div>
    <div class="form">
      <h5>Add some choices</h5>
      <form (submit)="addToChoices()">
        <input type="text" name="input" [(ngModel)]="userInput"><button><i class="fas fa-plus"></i></button>
      </form>
    </div>
    <button class="button" (click)="generate()">May-Bly</button>
  
  </div>